html, body {
    margin: 0;
    padding: 0;
}

#compiled-markdown {
  display: inline-block;
  vertical-align: top;
  width: 100%;
  box-sizing: border-box;
  padding: 0 1.5em;
}

/* blockquote {
  background: #f9f9f9;
  border-left: 10px solid #ccc;
  margin: 1.5em 10px;
  padding: 0.15em 10px;
} */
